.containerTextErrorAndLink{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTextError404{
    display: flex;
    flex-direction: column;
    align-items: center;            
}

.textError404{
    font-size: 80px;
}

.textError404Continuation{
    font-size: 60px;
}

.containerLinkError404{
    margin-top: 25px;
}

.containerLinkError404 a{
    text-decoration: none;
    color:black;
}

.textLinkError404{
    font-size: 15px;
    border: 1px solid black;
    padding: 15px;
    background-color: lightgrey;
    border-radius: 5px;
}

.textLinkError404:hover{
    background-color: grey;
}

